In [5]:
import numpy as np
import pandas as pd

dataframe = pd.read_csv('mnli_train.tsv', sep="\t")
dataframe

,sentence1,sentence2,label,genre
0,and now that was in fifty one that 's forty ye...,It was already a problem forty years ago but n...,neutral,telephone
1,Jon could smell baked bread on the air and his...,Jon smelt food in the air and was hungry .,neutral,fiction
2,it will be like Italian basketball with the uh...,This type of Italian basketball is nothing lik...,contradiction,telephone
3,well i think that 's about uh that 's about co...,Sorry but we are not done just yet .,contradiction,telephone
4,"Good job tenure , that is -- because in yet an...","Dr. Quinn , Medicine Woman , was worked on by ...",entailment,slate
...,...,...,...,...
19995,Jon looked at Ca'daan standing in front of him .,Jon and Ca'daan are sitting .,contradiction,fiction
19996,"His technique is too methodical and slow , she...",She stated John 's technique of playing cars w...,neutral,slate
19997,yeah they 've um they 've had police officers ...,Police officers have never been asked to come .,contradiction,telephone
19998,The rule provides the main regulatory framewor...,Automobile and light-duty truck manufacturers ...,entailment,government
19999,Time has sidebars on the McCaughey septuplets ...,The Film `` Time '' has information on McCaugh...,contradiction,slate